.header
{
padding: 30px;
font-size: 40px;
text-align:center;
background:wheat;




}

.fakeimg
{
background-color: #aaa;
width: 100%;
padding: 20px;

}

.card
{
background-color:white;
padding:20px;
margin-top:20px;


}

.BODY
{

    padding:20px;
    margin-top:20px;

}

.SUB_TITLE
{
    font-size: 20px;

}

.btn_ho:hover
{
background-color:tomato;
 border: none;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/*by id
e.g 
#abc
{

}

by html element
e.g
body
{


}

by class
.abc
{


}



*/